@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Encode+Sans:wght@300&family=Odibee+Sans&family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Odibee+Sans&family=Oswald&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Encode+Sans:wght@300&family=Gloria+Hallelujah&family=Odibee+Sans&family=Oswald&display=swap');


body {
    width: 960px;
    margin: auto;
    display: grid;
    grid-template-rows: 100px 1fr 150px;
    gap: 20px;
}
header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.imgLogo{
    margin-top: 20px;
    width: 70px;
    height: 70px;
}
.pHead{
    font-family: 'Odibee Sans', cursive;
    font-size: 15px;
    color: gray;
}
.hh {
    font-family: 'Dancing Script', cursive;
    font-size: 40px;
    font-weight: 900px;
}
nav{
    
    position: relative;
    left: 220px;
    top: 20px;
}

header nav ul {
    display: flex;
    list-style: none;
    /* padding: 7px; */
    left: 840px;
    /* text-align: right; */
}
header nav ul li{
padding: 1px;
}
header > section {
    display: flex;
}
header section img { 
    width: 40px;
    height: 40px;
}
main section>h1{
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 900px;
}
.pPosted{
    font-family: 'Odibee Sans', cursive;
    font-size: 20px;
    color: rgb(150, 147, 147);
}
.sec-sub{
    line-height: 1px;
}
.wifi {
    padding-left: 10px; ;
}
.art1 {
    padding-left: 10px;
    line-height: 0.3px;
}
.print {
    list-style: none;
    margin-left: 800px;
    /* position: relative;
    left: 590px; */
}
.hero-img {
    margin: auto;    
}
.p {
    text-indent: 20px;
}
.se-list {
    position: relative;
    height: 22%;
    font-family: 'Encode Sans', sans-serif;
    color: rgb(139, 134, 134);
}
.list {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.check-form {
    
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 0.5em;
        font-size: 1.5rem;
        color: var(--color);
    
}
.form-art1 {
    padding: 40px 40px;

}
.form-art2 {
    padding: 40px 40px;
}
.profile {
    display: flex;
}
.profile-art {
    padding-left: 20px;
    line-height: 1px;
}
.pProfile{
    font-size: 25px;
    width: 720px;
    line-height: 25px;
    font-weight: 100px;
    color: rgb(155, 149, 149);
}
.imgProfile{
    width: 70px;
    height: 70px;
    margin-top: 25px;

}
.btn {
    position: relative;
    left: 700px;
    border: none;
    background-color: rgb(163, 88, 61);
    width: 110px;
    height: 40px;
    color: white;
}
.indx{
    position: relative;

}
.hrLine{
    position: absolute;
    /* left: 0px;
    top: 0px; */
    width: 100%;
    z-index: -1;
    background: rgb(226, 214, 214);
}
.ftimg {
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* z-index: -1; */
}
footer {
    /* position: relative; */
    display: grid;
    grid-template-rows: 40px 1fr 1fr;
    padding-top: 80px;
    text-align: center;
}
footer>p{
    color: gray;
}